data.csv
data.json
data/geoscout.csv
.venv/
dataset/
data/
config/settings.ini
imgui.ini
build/
builds/
build_*/
third_party/
.vscode/
.vs/
*.pt
runs/
labels/
images/test/bb_unknown/
images/planets/
scout_*.zip
vcpkg/